<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.CategoryMapper">
	<select id="listAll" resultType="com.smhrd.model.Category">
  		SELECT * FROM t_category
    </select>
	<select id="listAll2" resultType="com.smhrd.model.Category">
  		SELECT (SELECT category_name FROM t_category WHERE category_no=category) AS category_name, COUNT(*) AS count FROM t_restaurant_category GROUP BY category
    </select>
</mapper>