<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.MenuMapper">
	<select id="listAll" resultType="com.smhrd.model.Menu">
  		SELECT * FROM t_menu
    </select>
   <select id="upperPrice" parameterType="Search" resultType="Restaurant">
   <![CDATA[
    SELECT * FROM t_restaurant
            WHERE res_no IN (SELECT DISTINCT(res_no) FROM t_menu WHERE menu_price <= #{menu_price} AND menu_name LIKE '%' || #{menu_name} || '%')
            AND lat BETWEEN #{lat} - 0.005 AND #{lat} + 0.005
            AND lng BETWEEN #{lng} - 0.01 AND #{lng} + 0.01
    ]]>
    </select>
</mapper>