<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.SearchMapper">
  	 <select id="searchByMenu" parameterType="string" resultType="com.smhrd.model.Search">
        SELECT * FROM restaurants WHERE menu_name LIKE #{menu_name} LIMIT 20
    </select>

    <!-- 카테고리로 검색 -->
    <select id="searchByCategory" parameterType="string" resultType="com.smhrd.model.Search">
        SELECT * FROM restaurants WHERE res_no = #{res_no} LIMIT 20
    </select>
</mapper>