@charset "EUC-KR";
#board {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    #board h1 {
        color: #333;
        text-align: center;
        margin-bottom: 30px;
    }

    #board table {
        width: 100%;
        border-collapse: collapse;
    }

    #board table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    #board table input[type="text"],
    #board table textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #board table input[type="reset"],
    #board table input[type="submit"],
    button {
        padding: 10px 20px;
        background-color: #0056b3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #board table input[type="reset"]:hover,
    #board table input[type="submit"]:hover{
        background-color: #004494;
    }
    a{
    color:white;
    }
   .star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}